bin/
*.test
/alkasir-proxy
site/
*.pid
/controller/controller
/dist
/dist-archives
/build
/node_modules
/res/generated
/res/messages/_ref/
/alkasir-gui
/alkasir-gui-snapshot
/alkasir-client
/alkasir-client-snapshot
/alkasir-central
/alkasir-central-snapshot
/alkasir-translator-tool
/*.exe
/make
/make.bin
/key.pem
/cert.pem
/i18auth.json
/i18n-data/
/AlkasirChromeExtension/
/as-downloads/
/diffs/
/alkasir-debug-reports/
/chrome-ext-publish.json.gpg